# Build results
bin/
obj/
publish/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Dotnet install script
dotnet-install.ps1
